@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap");

:root {
  --red: #e94959;
  --beige: #e6e6e6;
  --black: #262626;
  --white: #f7f7f8;
  --Dm-Black: #1f1d2a;
  --Dm--aqua: #9adde0;
  --Dm--card-deep: #131319;
  --Dm-Bg-footer: #1b1a23;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 1.5 s;
}

body.darkmode {
  background-color: var(--Dm-Black);
  transition: background-color 1.5 s;
}

.content_load {
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
  position: fixed;
  top: 0;
}
.content_load img {
  width: 50px;
  height: 50px;
  transition: all 1s;
  cursor: pointer;
  animation: mov 1s infinite alternate;
  position: relative;
  transition: all 1s;
  filter: drop-shadow(0 0 10px var(--red));
}

@keyframes mov {
  from {
    top: 0%;
  }

  to {
    top: 3%;
  }
}

.container {
  color: var(--black);
  margin: auto;
  max-width: 1200px;
  background-color: var(--white);
  transition: background-color 1.5 s;
}

body.darkmode .container {
  background-color: var(--Dm-Black);
  color: white;
  transition: background-color 1.5 s;
}

nav {
  position: fixed;
  margin: 1em;
  gap: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auxNav {
  background-color: var(--white);
  position: fixed;
  height: 70px;
  width: 1200px;
  filter: drop-shadow(0 5px 0 rgba(159, 12, 12, 0.672));
  z-index: 1000;
}

body.darkmode .auxNav {
  background-color: var(--Dm-Bg-footer);
  filter: drop-shadow(0 5px 0 rgba(25, 99, 113, 0.672));
}

nav .logo_page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

.logo_page img {
  width: 35%;
}

body.darkmode .logo_page img {
  filter: invert(1);
}

nav>ul {
  list-style: none;
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

li>a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: var(--black);
  transition: color 0.5s;
}

body.darkmode .colorRed {
  color: white;
}

.auxPRed {
  color: var(--red);
}

body.darkmode .auxPRed {
  color: var(--Dm--aqua);
}

li>a:hover {
  color: var(--red);
}

body.darkmode li>a:hover {
  color: var(--Dm--aqua);
}

.a_red {
  color: var(--red);
}

body.darkmode .a_red {
  color: var(--Dm--aqua);
}

.auxPBlack {
  color: var(--black);
}

body.darkmode .auxPBlack {
  color: var(--white);
}

.icon_Dm_car {
  left: 50%;
  position: relative;
}

.icon_Dm_car>div {
  display: flex;
  gap: 1em;
  background-color: var(--black);
  border-radius: 1em;
}

body.darkmode .icon_Dm_car>div {
  background-color: rgb(214, 212, 212);
}

.contorno {
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: var(--red);
  border-radius: 100%;
  z-index: 1000;
  border: var(--white) solid 0.5px;
  transition: all 0.3s;
  cursor: pointer;
}

.contorno:active {
  filter: brightness(0.8);
  width: 39%;
  height: 99%;
}

.dm_botton {
  background-color: var(--Dm--aqua);
  left: 65%;
  border: var(--black) solid 0.5px;
  transition: all 0.3s;
  cursor: pointer;
}

.dm_botton:active {
  filter: brightness(0.7);
  width: 39%;
  height: 99%;
}

box-icon {
  filter: invert(1);
}

body.darkmode box-icon {
  filter: invert(0.2);
}

.cart {
  position: absolute;
  top: 0;
  left: 6em;
  filter: invert(0);
  cursor: pointer;
  z-index: 2300;
  transition: filter 0.5s;
}

.cart:hover {
  filter: drop-shadow(0 0 5px var(--red));
}

body.darkmode .cart:hover {
  filter: drop-shadow(0 0 10px var(--red)) invert(1);
}

.contador_icon_cart {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.718);
  opacity: 1;
  position: absolute;
  right: -114%;
  top: 40%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

body.darkmode .contador_icon_cart {
  color: var(--Dm-Black);
  background-color: var(--white);
}

body.darkmode .cart {
  filter: invert(1);
}

.container_main-cart {
  position: fixed;

  right: 0%;
  width: 400px;
  height: 100vh;
  background-color: var(--white);
  z-index: 2100;
  display: none;
  filter: drop-shadow(0 0 5px rgba(28, 27, 27, 0.261));
  transition: all 0.5s;
}

body.darkmode .container_main-cart {
  background-color: var(--black);
  filter: drop-shadow(0 0 5px rgba(187, 186, 186, 0.783));
}

.show_cart {
  display: block;
}

.container_iconX {
  display: flex;
  justify-content: flex-end;
  margin: 1em;
  transition: all 0.5s;
}

@media (min-width: 800px) {
  nav {
    position: fixed;
  }
}

header {
  display: flex;
  flex-direction: row;
  gap: 5%;
  height: 100%;
}

header .header_description {
  width: 45%;
  margin-top: 15%;
}

.header_description .header_tilte {
  font-size: 38px;
  font-weight: 600;
}

header .header_img {
  background-color: var(--red);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

body.darkmode header .header_img {
  background-color: var(--Dm--aqua);
}

.container_img_header img {
  width: 90%;
  margin-bottom: 2em;
  margin-left: 1em;
}

.header_description .header_info {
  font-weight: 400;
  font-size: 14px;
  margin-top: 1em;
}

.header_description .info_price {
  font-size: 30px;
  font-weight: 500;
  color: var(--red);
  margin: 1.5em 0;
}

body.darkmode .header_description .info_price {
  color: var(--Dm--aqua);
}

.header_btn {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 5em;
}

.header_btn .btn_discover {
  width: 100px;
  background-color: rgb(218, 218, 218);
  padding: 1em;
  padding-right: 5em;
  color: var(--black);
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.header_btn .btn_discover:hover {
  background-color: rgba(72, 72, 72, 0.461);
  color: var(--white);
}

.header_btn .btn_discover:active {
  filter: brightness(1.2) drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.461));
}

body.darkmode .header_btn .btn_discover:active {
  filter: brightness(1.2) drop-shadow(0px 0px 10px rgba(214, 214, 214, 0.704));
}

.header_btn .btn_add-cart {
  width: 200px;
  background-color: var(--black);
  padding: 1em 1.5em;
  color: var(--white);
  filter: drop-shadow(0px 0px 20px black);
  transition: background-color 0.5s, filter 0.2s;
  cursor: pointer;
}

.header_btn .btn_add-cart:hover {
  background-color: var(--red);
}

body.darkmode .header_btn .btn_add-cart:hover {
  background-color: var(--Dm--aqua);
  color: var(--Dm--card-deep);
}

.header_btn .btn_add-cart:active {
  filter: drop-shadow(0px 0px 20px rgb(172, 36, 36)) brightness(1.3);
}

body.darkmode .header_btn .btn_add-cart:active {
  filter: drop-shadow(0px 0px 20px rgb(36, 172, 172)) brightness(0.8);
}

.select {
  display: flex;
  margin-top: 10em;
  gap: 4em;
  align-items: center;
  justify-content: center;
  margin-bottom: 5em;
}

.select>.separador {
  margin-top: 2em;
  margin-bottom: 5em;
  width: 100px;

  height: 100px;
  position: absolute;
  top: 42em;
}

.show_product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.show_product p {
  font-size: 19px;
}

.show_product :nth-child(1) {
  font-weight: 600;
}

.hr {
  width: 2px;
  height: 40px;
  background-color: black;
}

body.darkmode .hr {
  background-color: var(--white);
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  margin-bottom: 10em;
}

.products .shirts_card {
  width: 100%;
  background-color: var(--beige);
  position: relative;
  border-radius: 1em;
  transition: filter 0.5s;
}

body.darkmode .products .shirts_card {
  background-color: var(--Dm--card-deep);
}

.shirts_card>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shirts_card img {
  width: 300px;
  height: 300px;
  transition: filter 0.5s, height 0.2s;
}

.shirts_card:hover {
  filter: drop-shadow(0 0 4px rgba(65, 64, 64, 0.52));
}

body.darkmode .shirts_card:hover {
  filter: drop-shadow(0 0 4px rgba(254, 254, 254, 0.52));
}

.shirts_card .shirts_img:hover {
  filter: brightness(1) drop-shadow(0 0 4px black);
  height: 296px;
}

body.darkmode .shirts_card .shirts_img:hover {
  filter: brightness(1) drop-shadow(0 0 4px rgb(208, 205, 205));
}

.products_description {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: white;
  padding: 1em;
  padding-left: 3em;
}

body.darkmode .products_description {
  background-color: var(--Dm-Bg-footer);
}

.products_description :nth-child(1) {
  align-self: start;
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: flex-start;
}

.products_description :nth-child(1) :nth-child(1) {
  font-weight: 500;
  font-size: 22px;
}

.products_description :nth-child(1) :nth-child(2) {
  font-weight: 400;
  font-size: 15px;
}

.products_description :nth-child(2) {
  font-weight: 500;
  font-size: 22px;
  align-self: start;
}

.signo_mas {
  width: 50px;
  height: 50px;
  background-color: rgb(236, 233, 233);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px 15px rgb(143, 142, 142));
  position: absolute;
  left: 82%;
  top: 69%;
  transition: background-color 0.5s, filter 0.5s, width 0.2s, height 0.2s;
  cursor: pointer;
}

body.darkmode .signo_mas {
  background-color: rgba(0, 0, 0, 0.345);
  filter: drop-shadow(0px 0px 15px rgb(0, 0, 0));
  transition: background-color 0.5s, filter 0.5s, width 0.2s, height 0.2s;
  z-index: 600;
}

.signo_mas:hover {
  background-color: var(--red);
}

body.darkmode .signo_mas:hover {
  background-color: var(--Dm--aqua);
}

.signo_mas:active {
  width: 45px;
  height: 45px;
}

.signo_mas img {
  width: 15px;
  height: 15px;
  transition: filter 0.5s;
  z-index: 200;
}

body.darkmode .signo_mas img {
  filter: invert(2);
}

.signo_mas:hover img {
  filter: invert(2);
  width: 17px;
  height: 17px;
}

body.darkmode .signo_mas:hover img {
  filter: invert(0);
}

footer {
  display: flex;
  width: 100%;
  background-color: var(--beige);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body.darkmode footer {
  background-color: var(--Dm-Bg-footer);
}

footer>div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10em;
  flex-wrap: wrap;
  padding-top: 5em;
}

.footer_info {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  align-items: start;
}

.footer_info p {
  color: rgb(102, 102, 102);
}

body.darkmode .footer_info p {
  color: var(--white);
}

.footer_info :nth-child(1) {
  font-weight: 500;
  font-size: 20px;
  align-self: start;
  padding-bottom: 0.5em;
  color: var(--black);
}

.footer_info .p_cursor_pinter {
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
}

.footer_info .p_cursor_pinter:hover {
  font-weight: 400;
  color: #000;
}

body.darkmode .footer_info .p_cursor_pinter:hover {
  color: #979797;
}

.img_sr {
  display: flex;
  gap: 0.5em;
}

.footer_info img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: filter 1s;
}

body.darkmode .footer_info img {
  filter: invert(2);
  transition: filter 1s;
}

body.darkmode .footer_info img:hover {
  filter: invert(0.4) drop-shadow(0 0 10px var(--black));
  transition: filter 1s;
}

.footer_info img:hover {
  filter: invert(0.6);
  transition: filter 1s;
}

footer>p {
  padding-top: 5em;
  margin-bottom: 3em;
  color: rgba(38, 38, 38, 0.405);
  font-size: 12px;
}

.bg_img_cart {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 400px;
  height: 100%;
  padding: 1em;
  z-index: -100;
  position: absolute;
  top: 0%;
}

.bg_img_cart img {
  width: 100%;
  z-index: -100;
}

.bg_img_cart :nth-child(2) {
  font-size: 20px;
  font-weight: 500;
}

.remove_cart {
  position: absolute;
  top: -100%;
}

.bg_img_cart p {
  text-align: center;
}

.container_main-cart>p {
  position: absolute;
  top: 6%;
  left: 40%;
  font-size: 22px;
  font-weight: 600;
}

.contenerdor_productos_cart {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  margin: 1.5em;
  display: flex;
  gap: 1em;
}

.card1 {
  display: none;
}

.card2 {
  display: none;
}

.card3 {
  display: none;
}

.jsCard1 {
  display: flex;
}

.jsCard2 {
  display: flex;
}

.jsCard3 {
  display: flex;
}

.product_cart_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  border: rgba(190, 188, 188, 0.715) solid 1px;
}

.product_cart_info {
  display: flex;
  flex-direction: column;
}

.product_cart_info :nth-child(1) {
  font-size: 16px;
  font-weight: 600;
}

.product_cart_info :nth-child(3) {
  color: var(--red);
}

.product_cart_info span {
  color: var(--red);
}

.product_cart_img img {
  width: 100px;
}

.contener_signos {
  margin-top: 5px;
  display: flex;
  gap: 0.2em;
  width: 250px;
}

.contener_signos svg {
  filter: invert(0);
  transition: filter;
  cursor: pointer;
}

.contener_signos svg:hover {
  filter: invert(0.4);
}

.contener_signos img {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.contener_signos img:hover {
  filter: invert(0.4);
}

.contener_signos img:active {
  filter: invert(0.2);
}

.contener_signos svg:active {
  filter: invert(0.2);
}

body.darkmode .contener_signos img,
svg {
  filter: invert(1);
}

body.darkmode .contener_signos svg {
  filter: invert(1);
}

body.darkmode .contener_signos svg:active {
  filter: invert(0.5);
}

.footer_cart {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.amaunt_items p {
  margin: 2em;
  font-weight: 400;
  font-size: 16px;
  position: absolute;
  top: 6%;
  left: 10%;
}

.total_cost p {
  font-size: 20px;
  font-weight: 600;
}

.container_price_card {
  width: 50%;
  font-size: 6px;
  margin-left: 5px;
  font-weight: 400;
  font-size: 10px;
}

.container_price_card p {
  font-weight: 400;
  font-size: 10px;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

::before,
::after {
  position: absolute;
  content: "";
}

.btn {
  position: absolute;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: var(--white);
  border: none;
  cursor: pointer;
  top: -10%;
}

.btn span {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: 0.5s;
  border-radius: 10px;
}

.btn:hover {
  filter: drop-shadow(0 0 10px var(--red));
}

body.darkmode .btn:hover {
  filter: drop-shadow(0 0 10px var(--Dm--aqua));
}

.box_menu {
  z-index: 2000;
  opacity: 0;
}

.box_menu>box-icon {
  filter: invert(0);
  z-index: 2000;
}

@media (max-width: 800px) {
  .contorno {
    z-index: 2101;
  }

  .logo_page>p {
    font-size: 16px;
  }

  .container_nav {
    min-width: 400px;
  }

  .logo_page img {
    width: 30px;
  }

  ul {
    display: flex;
    flex-direction: column;
    background-color: var(--beige);
    padding: 1em 0;
    position: fixed;
    align-items: center;
    justify-content: center;
    transition: margin-top 0.5s;
    top: -100%;
    z-index: 2000;
    right: 0%;
    opacity: 0;
    width: 400px;
    height: 80vh;
    z-index: 2100;
    transition: all 0.5s;
  }

  .btn_add-cart {
    z-index: 1;
  }

  .show__menu {
    top: 0%;
    opacity: 1;
  }

  body.darkmode .colorRed {
    color: var(--Dm-Bg-footer);
  }

  body.darkmode .a_red {
    color: var(--Dm-Bg-footer);
  }

  .box_menu {
    z-index: 2100;
    opacity: 1;
  }

  .box_menu box-icon {
    position: absolute;
    top: 10%;
    left: 60%;
  }

  body.darkmode .box_menu box-icon {
    filter: invert(1);
    z-index: 4000;
  }

  .icon_Dm_car {
    left: 20%;
  }

  .header_description .info_price {
    font-size: 18px;
    margin: 15px;
  }

  .auxNav {
    max-width: 100%;
  }

  header {
    display: flex;
    gap: 0.2em;
    margin-left: 1em;
  }

  .btn_add-cart {
    max-width: 120px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .cart {
    position: absolute;
    left: 130%;
  }

  .contador_icon_cart {
    position: absolute;
    left: 160%;
    top: 50%;
  }

  .btn_discover {
    width: 100px;
    padding: 0;
    color: var(--black);
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
  }

  .btn_add-cart p,
  .btn_discover p {
    font-size: 14px;
    text-align: center;
    align-self: center;
  }

  header .header_description {
    max-width: 50%;
    margin-top: 6em;
  }

  .header_img {
    max-width: 100%;
    max-height: 100vh;
  }

  .header_btn {
    display: flex;
    flex-wrap: wrap;
  }

  .header_description .header_tilte {
    font-size: 20px;
  }

  .header_description .header_info {
    font-size: 12px;
    margin-top: 1em;
  }

  .header_img>img {
    max-width: 300px;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
  }

  .container_main-cart {
    position: fixed;
    width: 400px;
    height: 100vh;
    background-color: var(--white);
    z-index: 2100;
    filter: drop-shadow(0 0 5px rgba(28, 27, 27, 0.261));
    transition: all 0.5s;
  }

  .footer_cart {
    width: 100%;
    height: 100px;

    position: absolute;
    top: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .shirts_card {
    max-width: 300px;
    min-width: 200px;
  }

  footer {
    max-width: 100%;
  }

  footer>div {
    width: 100%;
    gap: 1%;
    padding-top: 0;
    margin-top: 1em;
  }

  .img_sr {
    display: grid;
    gap: 0.2em;
    grid-template-columns: 1fr 1fr 1fr;
  }
}